@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.para {
    font-family: "Dancing Script";
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 5px;
    line-height: 1;
    text-shadow: 2px 2px 0 #000;
    color:grey;
    font-style: italic;
}